In [127]:
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn import tree
from IPython.display import SVG
import graphviz
from graphviz import Source
from sklearn.metrics import roc_auc_score

In [65]:
dat = pd.read_csv("UCI_Credit_Card.csv", index_col="ID")

In [66]:
dat.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
ID,,,,,,,,,,,,,,,,,,,,,
1,20000.0,2,2,1,24,2,2,-1,-1,-2,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
2,120000.0,2,2,2,26,-1,2,0,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
3,90000.0,2,2,2,34,0,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
4,50000.0,2,2,1,37,0,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
5,50000.0,1,2,1,57,-1,0,-1,0,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [31]:
dat.info()
# нет nan и null, отлично!)

<class 'pandas.core.frame.DataFrame'>
Index: 30000 entries, 1 to 30000
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   LIMIT_BAL                   30000 non-null  float64
 1   SEX                         30000 non-null  int64
 2   EDUCATION                   30000 non-null  int64
 3   MARRIAGE                    30000 non-null  int64
 4   AGE                         30000 non-null  int64
 5   PAY_0                       30000 non-null  int64
 6   PAY_2                       30000 non-null  int64
 7   PAY_3                       30000 non-null  int64
 8   PAY_4                       30000 non-null  int64
 9   PAY_5                       30000 non-null  int64
 10  PAY_6                       30000 non-null  int64
 11  BILL_AMT1                   30000 non-null  float64
 12  BILL_AMT2                   30000 non-null  float64
 13  BILL_AMT3                   30000 non-null  float64
 14  BILL_AMT4                   30000 non-null  float64
 15  BILL_AMT5                   30000 non-null  float64
 16  BILL_AMT6                   30000 non-null  float64
 17  PAY_AMT1                    30000 non-null  float64
 18  PAY_AMT2                    30000 non-null  float64
 19  PAY_AMT3                    30000 non-null  float64
 20  PAY_AMT4                    30000 non-null  float64
 21  PAY_AMT5                    30000 non-null  float64
 22  PAY_AMT6                    30000 non-null  float64
 23  default.payment.next.month  30000 non-null  int64
dtypes: float64(13), int64(11)
memory usage: 5.7 MB

In [72]:
dat.corrwith(dat["default.payment.next.month"])
# чем дальше платеж, тем больше корреляция к результату(не удивлен), возможно это прентендент на победу в классификаторе!!!!)

LIMIT_BAL                    -0.153520
SEX                          -0.039961
EDUCATION                     0.028006
MARRIAGE                     -0.024339
AGE                           0.013890
PAY_0                         0.324794
PAY_2                         0.263551
PAY_3                         0.235253
PAY_4                         0.216614
PAY_5                         0.204149
PAY_6                         0.186866
BILL_AMT1                    -0.019644
BILL_AMT2                    -0.014193
BILL_AMT3                    -0.014076
BILL_AMT4                    -0.010156
BILL_AMT5                    -0.006760
BILL_AMT6                    -0.005372
PAY_AMT1                     -0.072929
PAY_AMT2                     -0.058579
PAY_AMT3                     -0.056250
PAY_AMT4                     -0.056827
PAY_AMT5                     -0.055124
PAY_AMT6                     -0.053183
default.payment.next.month    1.000000
dtype: float64

In [73]:
dat["EDUCATION"].unique()

array([2, 1, 3, 5, 4, 6, 0])

Заметил 2 интересных фишки: существует значение 0 в датасете, хотя о нем сведений нет, однако их 14 << 30000, но на всякий случай.
Оставлю, вдруг это важные классы для классификатора(врятли, смотря на корреляция, но вдруг)

In [82]:
print(dat["PAY_0"].unique())
print((dat["PAY_0"] == -2).sum())
print((dat["PAY_0"] == 0).sum())

[ 2 -1  0 -2  1  3  4  8  7  5  6]
2759
14737

Опять в условии не описаны данные(что такое -2??????, оплатил заранее или что, а 0 задержка на 0 месяцев?, мб на пару дней...)
Оставлю, этих значений много, может нарушиться корреляция и смысл + в тз не указано

In [60]:
X, y = dat.loc[:, dat.columns != "default.payment.next.month"], dat["default.payment.next.month"]

In [87]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, shuffle=False)

In [104]:
parameters = {
    "criterion": ["gini", "entropy", "log_loss"],
    "max_depth": range(1, 100),
    "max_leaf_nodes": range(5,101, 5)
} # splitter == best, тк нам нужны главные признаки для модели

In [105]:
dtc = tree.DecisionTreeClassifier()
grid = sklearn.model_selection.GridSearchCV(dtc, parameters, scoring="roc_auc", verbose=0, n_jobs=-1)
grid.fit(X_train,Y_train)

GridSearchCV(estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy', 'log_loss'],
                         'max_depth': range(1, 100),
                         'max_leaf_nodes': range(5, 101, 5)},
             scoring='roc_auc')

# Best hyperparameters

In [107]:
grid.best_params_

{'criterion': 'entropy', 'max_depth': 10, 'max_leaf_nodes': 25}

In [109]:
dtc = grid.best_estimator_

In [121]:
graph = Source( tree.export_graphviz(dtc, out_file=None, feature_names=X_train.columns))
SVG(graph.pipe(format='svg'))
graph = Source( tree.export_graphviz(dtc, out_file=None, feature_names=X_train.columns))
graph.format = 'png'
graph.render('dtree_render',view=True)

'dtree_render.png'

In [126]:
print(roc_auc_score(Y_test, dtc.predict(X_test)))
print(roc_auc_score(Y_train, dtc.predict(X_train)))

0.6579698740782121
0.6615924036740165

# Вывод  
Как мы видим, качество accuracy при train и test не особо отличаются(не удивительно, ведь при обучении использовалась cross validation = 5, те модель старалась не переобучаться.  
На dtree_render.png изображено дерево, обученное на лучших параметрах, как мы видим, весовыми для нее были столбцы оплаты(причем столбец с последней оплаты весомее, чем столбец с предпоследней и тд...). Действительно, чем больше корреляция тем больше важность колонки. Также, обратите внимание на вершины дерева близкие к корню: их энтропия близка к 1...
accuracy показывают не такой хороший результат, как мы бы хотели, однако это издержки обработки датасета, который не требуют обрабатывать, а советует просто изучить модель, обученную на ней... 
P.S.: скорее всего(да:нет ~ 9:1) некоторые колонки больше путали модель и их можно было без проблем не использовать при обучении